/* START GENERAL STYLE */
@import url('https://fonts.cdnfonts.com/css/d-din');

:root {
    --hitam:#010101;
    --abu: #BABABA;
    --putih : #ffffff;
    --hitam-button : #333333;
    --kuning : #FFC535;
    --kuning-hover : #ecae11;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'D-DIN', sans-serif;
}

body{
    background: #E5E5E5;
}

.container-mobile{
    width: 360px;
    height: 800px;
    margin: auto;
    background-image: url(../Assets/Bg-Login.svg);
}


.status-bar{
    margin-bottom: 52px;
}
/* END GENERAL STYLE */

/* START LOGO */
.logo-sandbox{
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
}
/* END LOGO */

/* START FORM INPUT */
.form-login{
    width: 360px;
    height: 535px;
    border-radius: 20px 20px 0 0;
    background-color: var(--putih);
    padding: 0 16px;
}

.text-form{
    margin-bottom: 16px;
}

.text-form p:nth-child(1){
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 5px;
}

.text-form p:nth-child(2){
    font-size: 15px;
    text-align: center;
}

form{
    height: 198px;
    margin-bottom: 41px;
}

.form-input{
    display: flex;
    flex-direction: column;
}

.form-input label{
    font-size: 14px;
}

.form-input input[type=text] {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid var(--abu);
    background-color: var(--putih);
    background-image: url('../Assets/icon/mail-line.svg');
    background-position: 20px 20px; 
    background-repeat: no-repeat;
    padding: 20px 40px 10px 50px;
    font-size: 13px;
    outline: none;
}

.form-input input[type=password] {
    width: 100%;
    height: 50px;
    margin-bottom: 16px;
    border: none;
    border-bottom: 1px solid var(--abu);
    background-color: var(--putih);
    background-image: url('../Assets/icon/password.svg');
    background-position: 20px 20px; 
    background-repeat: no-repeat;
    padding: 20px 40px 10px 50px;
    font-size: 13px;
    outline: none;
}

.forgot-password{
    display: flex;
    justify-content: right;
    margin-top: 16px;
}

.forgot-password a{
    text-decoration: none;
    font-size: 13px;
    color: var(--abu);
    cursor: pointer;
}

.button-login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 57px;
}

.button-login .btn-next{
    width: 328px;
    height: 48px;
    background-color: var(--kuning);
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--hitam-button);
    cursor: pointer;
}

.button-login .btn-back{
    width: 328px;
    height: 48px;
    background-color: var(--putih);
    border-radius: 8px;
    border: 1px solid var(--kuning);
    outline: none;
    font-size: 16px;
    color: var(--kuning);
    cursor: pointer;
    margin-top: 10px;
}

.by{
    font-size: 14px;
    text-align: center;
}
/* END FORM INPUT */




