/* START GENERAL STYLE */
@import url('https://fonts.cdnfonts.com/css/d-din');

:root {
    --hitam:#010101;
    --abu: #BABABA;
    --putih : #ffffff;
    --hitam-button : #333333;
    --kuning : #FFC535;
    --kuning-hover : #ecae11;
    --kuning-muda :#FFEE8E;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'D-DIN', sans-serif;
}

body{
    background: #E5E5E5;
}

.container-mobile{
    width: 360px;
    height: 800px;
    margin: auto;
    padding-bottom: 16px;
    background-color: var(--putih);
}

.status-bar{
    margin-bottom: 16px;
}
/* END GENERAL STYLE */

/* START TITLE HEADER */
.header-title{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.header-title p{
    font-size: 20px;
    font-weight: bold;
}
/* END TITLE HEADER */

/* START HEADER */
.qris-logo{
    width: 216px;
    height: 69px;
    border-radius: 8px;
    box-shadow: 0px 8px 10px 0px #0000001F;
    padding: 8px;
    margin: 40px auto;
}

.section-qris{
    margin-bottom: 47px;
}


.section-qris p:nth-child(1){
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.section-qris p:nth-child(2){
    font-size: 15px;
    color: var(--abu);
    text-align: center;
    margin-top: 8px;
}
/* END HEADER */

/* START QRIS */
.qris{
    width: 282px;
    height: 331px;
    margin: auto;
    margin-bottom: 53px;
}
/* END QRIS */

/* START BUTTON */
.button-transaksi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-transaksi .btn-back{
    width: 328px;
    height: 48px;
    background-color: var(--putih);
    border-radius: 8px;
    border: 1px solid var(--kuning);
    outline: none;
    font-size: 16px;
    color: var(--hitam-button);
    cursor: pointer;
    margin-top: 10px;
}
/* END BUTTON */




